server:
  port: 8088

spring:
  application:
    name: ms-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: patient-service-route
          uri: lb://MS-PATIENT
          predicates:
            - Path=/api/patient/**
          filters:
            - RewritePath=/api/(?<segment>.*), /${segment}
            - AddRequestHeader=X-Internal-Secret, MonSecretSecurise123!